<div class="container guage left">
  <div basic-guage [value]="getRPM()" [unit]="'rpm'" [valueMax]="7000" class="main"></div>
  <div basic-guage [value]="getAccelerator()" [unit]="'%'" [valueMax]="100" class="secondary"></div>
</div>

<div class="container road overhead">
  <div wrx-overhead></div>
</div>

<div class="container guage right">
  <div basic-guage [value]="getSpeed()" [unit]="'km/h'" class="main"></div>
  <div basic-guage [value]="getBrake()" [unit]="'%'" [valueMax]="100" class="secondary"></div>
</div>
