:host {
  width: 100%;

  .container {
    float: left;
    width: 33%;
    min-width: 33%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &.overhead {
      text-align: center;
      z-index: 1000;

      &.road {
        background: #303030;
        border-left: 1px solid #a9a9a9;
        border-right: 1px solid #a9a9a9;
      }

      [wrx-overhead] {
        top: 25%;
      }
    }

    &.guage {
      z-index: 500;

      [basic-guage] {
        position: absolute;
        transform: translateY(50%);
        bottom: 50%;
        width: 125%;
        height: 500px;
      }

      &.left [basic-guage] {
        right: -25%;
      }

      &.right [basic-guage] {
        left: -25%;
      }
    }
  }
}
