$headlight-colour: #fff;
$turn-signal-colour: #ff9900;
$brake-colour: #ff0000;

:host {
  display: inline-block;
  position: relative;

  img {
    height: 300px;
    width: auto;
  }

  .tire {
    position: absolute;
    background: url('./images/tire.png') no-repeat top center;
    background-size: contain;
    width: 50px;
    height: 75px;
    top: 15%;
    z-index: -100;

    &.left {
      left: 4%;
    }

    &.right {
      right: 6.5%;
    }
  }

  .light {
    z-index: -100;
    position: absolute;
    width: 10px;
    height: 10px;

    &.front {
      top: 6%;

      &.left {
        left: 20%;
      }

      &.right {
        right: 20%;
      }
    }

    &.rear {
      bottom: 6%;

      &.left {
        left: 20%;
      }

      &.right {
        right: 20%;
      }

      &.center {
        left: 50%;
        right: 50%;
      }
    }

    &.mirror {
      top: 38%;

      &.left {
        left: 15%;
      }

      &.right {
        right: 15%;
      }
    }

    &.headlight {
      box-shadow: 0px -70px 200px 30px $headlight-colour;
    }

    &.turn-signal {
      box-shadow: 0px -15px 150px 20px $turn-signal-colour;

      &.mirror {
        box-shadow: 0px -15px 75px 10px $turn-signal-colour;
      }
    }

    &.brake {
      box-shadow: 0px 15px 150px 25px $brake-colour;
    }
  }
}
