<img src="./images/car-overhead.png" />

<div class="tire left"
  [style.transform]="'rotate(' + tire_rotation() + 'deg)'"></div>
<div class="tire right"
  [style.transform]="'rotate(' + tire_rotation() + 'deg)'"></div>

<div class="light front headlight left" *ngIf="headlights_on()"></div>
<div class="light front headlight right" *ngIf="headlights_on()"></div>

<div class="light front turn-signal left" *ngIf="turn_signal_left()"></div>
<div class="light front turn-signal right" *ngIf="turn_signal_right()"></div>

<div class="light mirror turn-signal left" *ngIf="turn_signal_left()"></div>
<div class="light mirror turn-signal right" *ngIf="turn_signal_right()"></div>

<div class="light rear turn-signal left" *ngIf="turn_signal_left()"></div>
<div class="light rear turn-signal right" *ngIf="turn_signal_right()"></div>

<div class="light rear brake left" *ngIf="brakes_on()"></div>
<div class="light rear brake center" *ngIf="brakes_on()"></div>
<div class="light rear brake right" *ngIf="brakes_on()"></div>
